<!DOCTYPE html>
<html lang="en">
 
<head>
<title>Witaj w grze SuperFarmer!</title> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body style=" margin: 2%; height: 100%;">

<div class="instruction">
	<h1>Witamy w grze SuperFarmer!</h1>
	Jesteś hodowcą zwierząt i chcesz zostać superfarmerem. Twoje zwierzęta rozmnażają się,
	a to przynosi ci zysk. Możesz zamieniać wyhodowane zwierzęta na inne, jeśli uznasz,
	że to się opłaca. Aby zwyciężyć, musisz jako pierwszy uzyskać stado złożone co najmniej
	z konia, krowy, świni, owcy i królika. Jednak wszystkie Twoje plany mogą pozostać tylko
	w sferze marzeń, jeśli nie zachowasz należytej ostrożności! W okolicy grasują bowiem
	wilk i lis, których łatwym łupem mogą stać się Twoje zwierzęta.
	<h1>Żeby rozpocząć grę, wybierz tryb:</h1>

	<ul>
		<li><a class="btn btn-primary" href="/imie">Gra z komputerem</a></li>
		<li><a class="btn btn-primary" href="/imiona">Gra hotseat</a></li>
		<li><a class="btn btn-primary" href="/dolacz">Gra sieciowa</a></li>
	</ul>




  



</body>
 
</html>