<!DOCTYPE html>
<html lang="en">
 
<head>
<title>Oczekuj na dołączenie drugiego gracza</title>
<meta http-equiv="refresh" content="3">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
 <body>

{% if game['both'] == False %}
        <h2>Oczekuj na dołączenie drugiego gracza</h2>
        
{% else %}
        <h2>Znaleziono drugiego gracza!</h2>
         <a class="btn btn-primary" href="{{ url_for('StartYourGame', gameId = game['id']) }}">Rozpocznij grę</a>
{% endif %}

</body>

</html>

